.diman__fos-traker-title{
    font-family: "YS Display", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    padding: 0px 0px 8px;
}

.diman__fos-traker-container{
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    justify-content: flex-start;
    min-height: fit-content;
    background: radial-gradient(transparent 40%, #bdbdbd26);
    background-color: #fff;
    box-shadow: #c9c9c9 0px 0px 0px 2px inset;
    max-width: calc(100% - 10px);
}

.fos__infoBox{
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 30px;
    max-height: 370px;
    overflow-y: auto;
}

.fos__infoBox.temp_fos-loading{
    width: 100%;
    height: 100%;
}

.fos__infoBox.temp_fos-loading svg{
    --wh: 60px;
    width: var(--wh);
    height: var(--wh);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    display: flex;
}

.fos__infoBox::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: #efefef;
}
.fos__infoBox::-webkit-scrollbar-corner { 
    background: #d3d3d3;
}

.fos__infoBox::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #696969;
  border: 3px solid #e5e5e5;
  margin-left: 20px;
  margin-right: 20px;
}

.fos__infoBox::-webkit-scrollbar-track:hover {
  background-color: #696969;
}

.fos__infoBox::-webkit-scrollbar-track:active {
  background-color: #696969;
}

.fos__infoBox::-webkit-scrollbar-thumb {
  border-radius: 13px;
  background-color: #000;
}

.fos__infoBox::-webkit-scrollbar-thumb:hover {
  background-color: #464646;
}

.fos__infoBox::-webkit-scrollbar-thumb:active {
  background-color: #464646;
}

.fos_infoBlock{
    display: flex;
    align-items: center;
    padding: 8px 0px;
}

.fos_infoTitle{
    padding-right: 6px;
    width: 40%;
    line-height: 20px;
    color: #878787;
}

.fos_infoData{
    width: 60%;
}