tr.diman_inbounds td:nth-child(3) div a{
    min-width: 100%;
    font-weight: 800;
    text-align: center;
}

tr.diman_inboundsDiffernece td:nth-child(3) div a{
    --mainColor: #fff;
    padding: 4px 10px;
    background: #000;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000,
                0px 0px 6px 0px var(--mainColor),
                0px 0px 6px 0px var(--mainColor),
                0px 0px 0px 2px var(--mainColor) inset;
    font-weight: 800;
    transition: 200ms;
    text-align: center;
    min-width: 100%;
}

tr.diman_inboundsDiffernece td:nth-child(3) div a{
    --mainColor: #ff0000;
}

tr.diman_inboundsDiffernece td:nth-child(3) div a:hover{
    transition: 200ms;
    scale: 1.05;
    color: #fff;
}