.missedShippingContainer{
    order: 4;
}

.missedShipping-title{
    font-family: "YS Display", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
}

.temp_missedShipping-loading{
    width: 100%;
    height: 100%;
}

.temp_missedShipping-loading svg{
    --wh: 60px;
    width: var(--wh);
    height: var(--wh);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    display: flex;
}