

.diman__TURBOpi__textToOrders__table .tpi-bc--status-wrapper {
    left: -112px;
}
.tpi-bc--status-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 2px;
    left: -132px;
    min-width: 87px;
    min-height: 17px;
    &:has(i[tpi-current-state="error"]) {
        background: #000;
        border-radius: 10px;
        padding: 0px 10px;
        left: -142px;
    }
    &:has(i[tpi-current-state="error"]) .tpi-bc--status-text {
        color: #fff !important;
    }
}

.tpi-bc--skeleton-preview {
    border-radius: 10px;
    height: 17px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    background: #e8e8e8;
    user-select: none;

    &::after{
        content: '';
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(120deg, transparent, #ffffffa6, transparent, #ffffffa6, transparent, #ffffffa6);
        transition: 500ms;
        background-position: 0;
        border-radius: 10px;
        animation: tpi-bc-skeleton 1s infinite linear;
    }
}

@keyframes tpi-bc-skeleton  {
    to{
        background-position: 87px;
    }
}

.tpi-bc--status-icon {
    padding: 0px;
    background-position: center;
    border-radius: 50%;
    position: relative;
    width: 8px;
    height: 8px;
    display: flex;
    flex-direction: column;

    &[tpi-current-state="created"]{
        background-color: #09ff02;
    }

    &[tpi-current-state="error"]{
        background-color: #fff;
    }
    &[tpi-current-state="null"]{
        background-color: #f00;
    }
}

.tpi-bc--status-text {
    margin: 0;
    color: #000;
    text-shadow: 0px 0px 0px #000;
}