button.diman__searchScanlogSortables{
    padding: 10px 16px;
    border-radius: 8px;
    background: #fc0;
    color: #212121;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    display: inline-flex;
    gap: .5rem;
    transition: background-color .15s ease-out,transform .15s ease-out;
    white-space: nowrap;
    border: 0px;
    font-weight: 600;
}

button.diman__searchScanlogSortables:hover{
    background-color: #f5c400;
}

button.diman__searchScanlogSortables:active{
    background-color: #e8ba00;
}

button.ebat,
button.ebat-remove{
    padding: 10px;
    height: fit-content;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    margin-left: 10px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
    background: #fc0;
    font-weight: 800;
    cursor: pointer;
    opacity: 0;
    &:hover{
        /* background-color: #f5c400; */
        background: #fc0;
        opacity: 1;
    }
    &:active{
        background-color: #e8ba00;
    }
}

table.sotableScanLog-table{
    margin-bottom: 50px;
}