div.tpi-cc--wrapper{
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 9;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    font-family: Arial, sans-serif;
    gap: 20px;
    padding: 30px;
    background: #ffffff;
    flex-flow: column;
}

div.tpi-cc--wrapper-title{
    font-size: 44px;
    font-weight: 700;
    line-height: 46px;
    color: rgb(43, 43, 43);
    justify-content: space-between;
    display: flex;
}

.tpi-cc--table-wrapper{
    width: 100%;
    display: flex;
    overflow-x: auto;
    flex-flow: column;
    border-width: 1px;
    border-style: solid;
    border-color: #e8e8e8;
    border-image: initial;
    border-radius: 20px 20px 0px 0px;
}

.tpi-cc--table-data-output *,
.tpi-cc--table-data-output p{
    white-space: nowrap;
    margin: 0;
}

tr.tpi-cc--table-thead{
    background: #f7f7f7;
}

th.tpi-cc--table-thead-item{
    padding: 16px;
    cursor: pointer;
    transition: 100ms ease-in-out;
    border-bottom: 1px solid #e8e8e8;
    height: 10px;

    &:hover{
        background: #e8e8e8;
    }
    
    &:first-child{
        background: #f7f7f7;
        position: sticky;
        left: 0;
        box-shadow: -2px -1px 0px -1px #e8e8e8 inset;
    }
}


th.tpi-cc--table-thead-item .tpi-cc--table-thead-data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.tpi-cc--table-data-output tr.tpi-cc--table-tbody{
    background: #fff;
}

.tpi-cc--table-data-output tr.tpi-cc--table-tbody td.tpi-cc--table-tbody-item{
    padding: 16px;
    min-height: 65px;
    transition: 100ms ease-in-out;
    border-bottom: 1px solid #e8e8e8;
    height: 10px;
    
    &:first-child{
        background: #fff;
        position: sticky;
        left: 0;
        box-shadow: -2px -1px 0px -1px #e8e8e8 inset;
    }
}

div.tpi-cc--table-tbody-date-wrapper{
    display: flex;
    gap: .5ch;
    height: fit-content !important;
}

td.tpi-cc--table-tbody-item div.tpi-cc--table-tbody-data-courier{
    display: flex;
    gap: 6px;
}

td.tpi-cc--table-tbody-item div.tpi-cc--table-tbody-data{
    height: 100%;
    display: flex;
    align-items: center;
}

td.tpi-cc--table-tbody-item div.tpi-cc--table-tbody-data-courier{
    display: flex;
    gap: 6px;
    height: 100%;
    min-height: 45px;
}

div.tpi-cc--table-tbody-data-courier div.tpi-cc--sortable-data-wrapper{
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    justify-content: center;
}

a.tpi-cc--table-tbody-data-link{
    width: fit-content;
    max-width: 170px;
    position: relative;
    transition: color 90ms ease-in-out;
    z-index: 1;
    &:hover{
        color: red;
    }
    &::before {
        content: '';
        display: flex;
        position: absolute;
        left: -2px;
        top: 0;
        width: 100%;
        height: 100%;
        background: currentColor;
        z-index: -1;
        border-radius: 8px;
        box-shadow: 0px 0px 0px 4px;
        color: #5d5dff;
        padding: 0px 2px;
        transition: 100ms ease-in-out;
        transform: scale(0);
    }
    &:focus-visible{
        color: #fff;
        outline: none;
    }
    &:focus-visible::before{
        transform: scale(1);
    }
}

a.tpi-cc--table-tbody-data-link.tpi-cc-table-tbody-data-cart-id:not(:last-of-type)::after {
    content: ',';
    color: #000;
}

a.tpi-cc--table-tbody-data-link.tpi-cc-table-tbody-data-cart-id:last-of-type{
    margin-right: 6px;
}

div.tpi-cc--carts-control-buttons-wrapper{
    display: flex;
    gap: 1ch;
    align-items: center;
}

button.tpi-cc--table-tbody-add-cart{
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #e8e8e8;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms ease-in-out;
    i{
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1px;
    }
    &[tpi-state-change="tpi-remove-cart"] i{
        padding: 2px;
    }
    svg{
        fill: currentColor;
        width: 100%;
        height: 100%;
    }

    &:hover,
    &:focus-visible{
        transform: scale(1.2);
        border-color: currentColor;
        box-shadow: 0px 0px 6px -2px  #000;
    }

    &[tpi-state-change="tpi-add-cart"]:hover,
    &[tpi-state-change="tpi-add-cart"]:focus-visible{
        background: #cf0;
        color: #000;
        outline: none;
    }
    &[tpi-state-change="tpi-remove-cart"]:hover,
    &[tpi-state-change="tpi-remove-cart"]:focus-visible{
        border-color: currentColor;
        background: #ffcfcf;
        color: #f00;
        outline: none;
    }
}

div.tpi-cc--table-body-date-container{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

div.tpi-cc--table-tbody-data-carts{
    display: flex;
    flex-wrap: wrap;
    min-width: 230px;
    gap: 1ch .5ch;
}