div.tpi-cc--wrapper{
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 9;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    font-family: Arial, sans-serif;
    gap: 20px;
    padding: 30px;
    background: #ffffff;
    flex-flow: column;
}

div.tpi-cc--wrapper-title{
    font-size: 44px;
    font-weight: 700;
    line-height: 46px;
    color: rgb(43, 43, 43);
    justify-content: space-between;
    display: flex;
}

.tpi-cc--table-wrapper{
    width: 100%;
    display: flex;
    overflow-x: auto;
    flex-flow: column;
    border-width: 1px;
    border-style: solid;
    border-color: #e8e8e8;
    border-image: initial;
    border-radius: 20px 20px 0px 0px;
    &:has(.tpi-cc--table-tbody-wrapper:empty) {
        display: none;
    }
}

.tpi-cc--table-data-output *,
.tpi-cc--table-data-output p{
    white-space: nowrap;
    margin: 0;
}

.tpi-cc--table-tbody-data-icon{
    display: flex;
    align-items: center;
}

tr.tpi-cc--table-thead{
    background: #f7f7f7;
}

th.tpi-cc--table-thead-item{
    padding: 16px;
    cursor: pointer;
    position: relative;
    /* transition: 100ms ease-in-out; */
    background: #f7f7f7;
    border-bottom: 1px solid #e8e8e8;
    height: 10px;
    box-shadow: -2px -1px 0px -1px #e8e8e8 inset;
    z-index: 0;

    &:not([tpi-cc-filters-not-allowed]):hover{
        background: #efefef;
    }
    
    &:first-child{
        position: sticky;
        left: 0;
        z-index: 1;
    }

    &:nth-last-child(2){
        box-shadow: unset;
    }

    &:last-child{
        position: sticky;
        right: 0;
        box-shadow: 2px -1px 0px -1px #e8e8e8 inset;
        z-index: 1;
    }
    & div[tpi-current-state] {
        color: #3352ca;
    }
    &:has(div[tpi-current-state])::before {
        content: '';
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 20px 20px 0px 0px;
        box-shadow: 0px 2px 0px -1px inset #3352ca, -2px 0px 0px -1px inset #3352ca, 2px 0px 0px -1px inset #3352ca;
    }
    
    &:has(div[tpi-current-state]):hover {
        background: #f7f7f7;
    }
    &:has(div[tpi-current-state]):hover::before {
        background: #efefef;
    }
    
    p{
        user-select: none;
    }

    &:not(:has(div.tpi-cc--table-thead-data[tpi-current-state])):hover i.tpi-cc--table-thead-filter svg.tpi-filter-icon-default{
        display: flex;
        animation: defaultFilterIconPOPup 200ms cubic-bezier(.17,.73,0,1.32);
    }

    &[tpi-cc-filters-not-allowed] .tpi-cc--table-thead-data p{
        color: #717171;
    }
    &[tpi-cc-filters-not-allowed] i.tpi-cc--table-thead-filter{
        display: none !important;
    }
}

@keyframes defaultFilterIconPOPup {
    from{
        opacity: 0;
        transform: scale(.7) translateY(200%);
    }
    to{
        opacity: 1;
        transform: scale(1) translateY(0%);
    }
}

th.tpi-cc--table-thead-item .tpi-cc--table-thead-data {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    width: 100%;
    justify-content: space-between;



    i.tpi-cc--table-thead-filter{
        width: 1rem;
        height: 1rem;
    }
    i.tpi-cc--table-thead-filter svg{
        display: none;
    }
    &[tpi-current-state="filtered-up"] i.tpi-cc--table-thead-filter svg.tpi-filter-icon-up{
        display: flex;
    }
    &[tpi-current-state="filtered-down"] i.tpi-cc--table-thead-filter svg.tpi-filter-icon-down{
        display: flex;
    }
}

.tpi-cc--table-data-output tr.tpi-cc--table-tbody{
    background: #fff;
}

.tpi-cc--table-data-output tr.tpi-cc--table-tbody td.tpi-cc--table-tbody-item{
    padding: 16px;
    min-height: 65px;
    /* transition: 100ms ease-in-out; */
    border-bottom: 1px solid #e8e8e8;
    height: 10px;
    background: #fff;
    box-shadow: -2px -1px 0px -1px #e8e8e8 inset;
    position: relative;
    z-index: 0;
    
    &:first-child{
        position: sticky;
        left: 0;
        z-index: 1;
    }

    &:nth-last-child(2){
        box-shadow: unset;
    }

    &:last-child{
        z-index: 1;
        position: sticky;
        right: 0;
        box-shadow: 2px -1px 0px -1px #e8e8e8 inset;
    }

    &[tpi-current-state="filtered"]::before {
        content: "";
        display: flex;
        position: absolute;
        width: 100%;
        /* height: calc(100% + 1px);
        top: -1px; */
        height: 100%;
        top: 0;
        left: 0px;
        z-index: -1;
        box-shadow: #3352ca -2px 0px 0px -1px inset, #3352ca 2px 0px 0px -1px inset;
        background: #f7f7f7;
    }

    &[tpi-current-state="filtered-last"]::before {
        content: "";
        display: flex;
        position: absolute;
        width: 100%;
        height: calc(100% + 1px);
        top: -1px;
        left: 0px;
        z-index: -1;
        box-shadow: #3352ca 0px -2px 0px -1px inset, #3352ca -2px 0px 0px -1px inset, #3352ca 2px 0px 0px -1px inset;
        border-radius: 0px 0px 20px 20px;
        background: #f7f7f7;
    }
}

div.tpi-cc--table-tbody-date-wrapper{
    display: flex;
    gap: .5ch;
    height: fit-content !important;
}

td.tpi-cc--table-tbody-item div.tpi-cc--table-tbody-data-courier{
    display: flex;
    gap: 6px;
}

td.tpi-cc--table-tbody-item div.tpi-cc--table-tbody-data{
    height: 100%;
    display: flex;
    align-items: center;
}

td.tpi-cc--table-tbody-item div.tpi-cc--table-tbody-data-courier{
    display: flex;
    gap: 6px;
    height: 100%;
    min-height: 45px;
}

div.tpi-cc--courier-id-data-wrapper{
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 10px;
}

div.tpi-cc--table-tbody-data-courier div.tpi-cc--courier-data-wrapper{
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    justify-content: center;
}

button.tpi-cc--table-tbody-data-button,
a.tpi-cc--table-tbody-data-link{
    width: fit-content;
    position: relative;
    transition: color 90ms ease-in-out;
    z-index: 1;
    display: flex;
    gap: .5ch;
    &:hover{
        color: #fff;
    }
    &::before {
        content: '';
        display: flex;
        position: absolute;
        left: -2px;
        top: 0;
        width: 100%;
        height: 100%;
        background: currentColor;
        z-index: -1;
        border-radius: 8px;
        box-shadow: 0px 0px 0px 4px;
        color: #5d5dff;
        padding: 0px 2px;
        transition: 50ms ease-in-out;
        transform: scale(0);
    }
    &:focus-visible{
        color: #fff;
        outline: none;
    }

    &:hover::before,
    &:focus-visible::before{
        transform: scale(1);
        transition: 200ms cubic-bezier(.17,.73,0,1.32);
    }
    i{
        width: 16px;
        height: 16px;
    }
    i svg{
        width: 100%;
        height: 100%;
        fill: currentColor;
    }
}

div.tpi-cc--table-tbody-data-courier-extra-info-wrapper{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 4px;
}

div.tpi-cc--table-tbody-data-courier-extra-info{
    display: flex;
    gap: .5ch;
    flex-flow: row;
    p{
        font-size: 12px;
    }
    i{
        width: 12px;
        height: 12px;
    }
    i svg{
        width: 100%;
        height: 100%;
        fill: currentColor;
    }
}

button.tpi-cc--table-tbody-data-button.tpi-cc-table-tbody-data-pallet-id,
button.tpi-cc--table-tbody-data-button.tpi-cc-table-tbody-data-cart-id{
    padding: 2px 6px;
    border: 1px solid;
    background: #ced8ff;
    border-radius: 10px;
    color: #1a3dc1;
    width: fit-content;
    max-width: 170px;
    position: relative;
    transition: color 90ms ease-in-out;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 0;
    &:hover{
        color: #fff;
        z-index: 2;
    }
    &::before {
        content: '';
        display: flex;
        position: absolute;
        left: -2px;
        top: 0;
        width: 100%;
        height: 100%;
        background: currentColor;
        z-index: -1;
        border-radius: 8px;
        box-shadow: 0px 0px 0px 4px;
        color: #5d5dff;
        padding: 0px 2px;
        transition: 50ms ease-in-out;
        transform: scale(0);
    }
    &:focus-visible{
        color: #fff;
        outline: none;
    }

    &:hover::before,
    &:focus-visible::before{
        transform: scale(.95);
        transition: 200ms cubic-bezier(.17,.73,0,1.32);
    }

    &:hover{
        color: #fff;
        cursor: pointer;
    }
    
    &[tpi-cc-selected-courier-cell]{
        color: #fff;
    }
    
    &[tpi-cc-selected-courier-cell]::before{
        color: #5d5dff;
        transform: scale(.95);
        box-shadow: 0px 0px 0px 1px #0034ff, 0px 0px 0px 4px #ced8ff;
    }
    &[tpi-cc-selected-courier-cell]:hover::before,
    &[tpi-cc-selected-courier-cell]:focus-visible::before{
        animation: tpi-cc-selected-cart 500ms ease-in-out alternate infinite 750ms;
    }
    
    i.tpi-cc-table-tbody-data-cart-icon,
    i.tpi-cc-table-tbody-data-pallet-icon{
        width: 16px;
        height: 16px;
    }
    i.tpi-cc-table-tbody-data-cart-icon svg,
    i.tpi-cc-table-tbody-data-pallet-icon svg{
        width: 100%;
        height: 100%;
        display: flex;
    }
    
}

@keyframes tpi-cc-selected-cart {
    from{
        box-shadow: 0px 0px 0px 1px #0034ff, 0px 0px 0px 4px #ced8ff;
    }
    to{
        box-shadow: 0px 0px 0px 0px #0034ff, 0px 0px 0px 4px #5d5dff;
    }
}

button.tpi-cc--table-tbody-data-button.tpi-cc-table-tbody-data-pallet-id{
    color: #864ddf;
    background: #f6d9fa;
    &::before {
        content: '';
        display: flex;
        position: absolute;
        left: -2px;
        top: 0;
        width: 100%;
        height: 100%;
        background: currentColor;
        z-index: -1;
        border-radius: 8px;
        box-shadow: 0px 0px 0px 4px;
        color: #9159eb;
        padding: 0px 2px;
        transition: 200ms cubic-bezier(.17,.73,0,1.32);
        transform: scale(0);
    }
    i.tpi-cc-table-tbody-data-pallet-icon{
        padding: 2px;
    }
    
    &[tpi-cc-selected-courier-cell]{
        color: #fff;
    }
    
    &[tpi-cc-selected-courier-cell]::before{
        color: #864ddf;
        transform: scale(.95);
        box-shadow: 0px 0px 0px 1px #6200ff, 0px 0px 0px 4px #f6d9fa;
    }
    &[tpi-cc-selected-courier-cell]:hover::before,
    &[tpi-cc-selected-courier-cell]:focus-visible::before{
        animation: tpi-cc-selected-pallet 500ms ease-in-out alternate infinite 750ms;
    }
}

@keyframes tpi-cc-selected-pallet {
    from{
        box-shadow: 0px 0px 0px 1px #6200ff, 0px 0px 0px 4px #f6d9fa;
    }
    to{
        box-shadow: 0px 0px 0px 0px #6200ff, 0px 0px 0px 4px #864ddf;
    }
}

/* button.tpi-cc--table-tbody-data-button.tpi-cc-table-tbody-data-cart-id:last-of-type,
button.tpi-cc--table-tbody-data-button.tpi-cc-table-tbody-data-pallet-id:last-of-type{
    margin-right: 6px;
} */

div.tpi-cc--carts-control-buttons-wrapper{
    display: flex;
    gap: 1ch;
    align-items: center;
}

button.tpi-cc--table-tbody-add-cart,
button.tpi-cc--table-tbody-add-pallet{
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #e8e8e8;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms cubic-bezier(.17,.73,0,1.32);
    color: #000;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    i{
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
    }
    svg{
        fill: currentColor;
        width: 100%;
        height: 100%;
        transition: scale 100ms ease-in-out;
    }
    &::before {
        content: '';
        display: flex;
        position: absolute;
        left: -2px;
        top: 0;
        width: 100%;
        height: 100%;
        background: currentColor;
        z-index: -1;
        border-radius: 8px;
        box-shadow: 0px 0px 0px 4px;
        color: #cf0;
        padding: 0px 2px;
        transition: 50ms ease-in-out;
        transform: scale(0);
    }
    
    &:focus-visible{
        outline: none;
    }

    &:hover::before,
    &:focus-visible::before{
        transform: scale(1);
        transition: 200ms cubic-bezier(.17,.73,0,1.32);
    }

    &:active svg{
        scale: .95;
    }
    &:active::before{
        box-shadow: 0px 0px 0px 2px;
        filter: brightness(.95);
    }
}

div.tpi-cc--table-body-date-container{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

div.tpi-cc--table-tbody-data-carts,
div.tpi-cc--table-tbody-data-pallets{
    display: flex; 
    flex-wrap: wrap;
    min-width: 240px;
    gap: 1ch;
}

.tpi-cc--table-tbody-data-pallets{
    min-width: 160px !important;
}

.tpi-cc--table-tbody-data-sort-progress-container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.tpi-cc--table-tbody-data-sort-progress-circle-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tpi-cc--table-tbody-data-sort-progress-circle-value{
    position: absolute;
    font-size: .65rem;
    font-weight: 800;
    color: #000;
    user-select: none;
}

/* ! Print-delete */

.tpi-cc-process-manager-wrapper{
    position: sticky;
    bottom: 16px;
    z-index: 10;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    visibility: hidden;
    display: flex;
    transition: transform 300ms cubic-bezier(.17,.73,0,1.32) 100ms, opacity 300ms ease;

    &[tpi-current-state="hidden"]{
        transform: translateY(calc(100% + 20px));
        opacity: 0;
    }
    &[tpi-current-state="shown"]{
        transform: translateY(0);
        opacity: 1;
    }

    p{
        margin: 0;
    }
}


.tpi-cc-process-manager-block{
    background-color: #212121;
    border-radius: 18px;
    display: flex;
    gap: 20px;
    color: #fff;
    position: relative;
    visibility: visible;
    padding: 16px 20px;
    box-shadow: 0px 10px 10px -6px #000;
}


.tpi-cc-process-manager-block .tpi-cc-process-manager-title{
    display: flex;
    flex-flow: column;
    justify-content: center;

    p{
        margin: 0;
        font-weight: 100 !important;
        font-size: 1rem;
    }
}

.tpi-cc-process-manager-block .tpi-cc-process-manager-button{
    border: 0px;
    background: #fc0;
    border-radius: 8px;
    font-weight: 800;
    cursor: pointer;
    padding: 10px 16px;
    color: #212121;
    transition: background-color .15s ease-out,transform .15s ease-out;
    display: flex;
    gap: 10px;
    align-items: center;

    &:hover{
        filter: brightness(.95);
    }
            
    &:active{
        filter: brightness(.85);
        transform: scale(.97);
    }

    p{
        margin: 0;
    }

    i.tpi-cc-progress-action-icon{
        width: 1rem;
        height: 1rem;
    }
    i.tpi-cc-progress-action-icon svg{
        width: 100%;
        height: 100%;
    }
    &[tpi-cc-action="delete"]{
        background: #e8e8e8;
    }
}
.tpi-cc-process-manager-block .tpi-cc-process-manager-close{
    border: 0px;
    border-radius: 8px;
    font-weight: 800;
    cursor: pointer;
    padding: 10px;
    width: 40px;
    height: 40px;
    background: transparent;
    color: #fff;
    transition: background-color .15s ease-out,transform .15s ease-out;

    &:hover{
        background: #ffffff1a;
    }
    &:active{
        background-color: #fff3;
        transform: scale(.97);
    }

    svg{
        width: 20px;
        height: 20px;
        fill: currentColor;
    }
    path{
        fill: currentColor;
    }
}

.tpi-cc-process-manager-data-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 30px;
}

.tpi-cc-process-data-container{
    display: flex;
    flex-flow: column;
    gap: 0;

    .tpi-cc-process-data-item {
        display: flex;
        gap: 4px;
        height: .8rem;
        overflow: hidden;
        transition: height 200ms cubic-bezier(.17,.73,0,1.32), opacity 200ms ease;
    }

    i.tpi-cc-process-data-item-icon{
        width: .8rem;
        height: .8rem;
        position: relative;
        display: flex;
    }
    .tpi-cc-process-data-item-icon svg{
        width: 100%;
        height: 100%;
    }

    p.tpi-cc-process-data-item-text{
        font-size: .8rem !important;
        display: flex;
        align-items: center;
        gap: .5ch;
    }

    p.tpi-cc-process-data-item-text span{
        font-weight: 800;
        min-width: 2ch;
    }
}

/* TODO */
/* TODO */
/* TODO */
/* TODO */

.tpi-cc--no-ds-data-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    p{
        margin: 0;
    }
}

.tpi-cc--no-ds-data-container {
    --no-ds-color-1: #e8e8e8;
    --no-ds-color-2: #bdbdbd;
    width: 40%;
    background: #222222;
    color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #000;
    border: solid 3px transparent;
    border-radius: 20px;
    background: linear-gradient(#212121, #212121) border-box padding-box, radial-gradient(circle at left top, var(--no-ds-color-1), var(--no-ds-color-2)) border-box #222;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    display: flex;
    flex-flow: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
    .tpi-cc--no-ds-data-icon-wrapper {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        min-width: 175px;
    }

    .tpi-cc--no-ds-data-icon-wrapper i {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tpi-cc--no-ds-data-icon-wrapper svg{
        width: 100%;
        height: 100%;
        display: none;
        filter: drop-shadow(0px 0px 8px var(--no-ds-color-1)) drop-shadow(0px 0px 8px var(--no-ds-color-2));
    }

    &[tpi-current-state="ready-to-data-search"]{
        --no-ds-color-1: #fc0;
        --no-ds-color-2: #ff8f00;
    }
    &[tpi-current-state="ready-to-data-search"] svg.tpi-cc-i-warning{
        display: flex;
    }
    
    &[tpi-current-state="loading-data"]{
        --no-ds-color-1: #ffa0ff;
        --no-ds-color-2: #a687ff;
    }
    &[tpi-current-state="loading-data"] svg.tpi-cc-i-loading{
        display: flex;
    }

    &[tpi-current-state="loading-data"] button{
        background-image: repeating-linear-gradient(-45deg, var(--no-ds-color-1), var(--no-ds-color-1) 6px, #fc8efc 0, #fc8efc 12px);
        background-size: 119px;
        background-position: 0px;
        cursor: not-allowed;
        animation: tpi-cc-nd-loading-button 750ms infinite linear;
        opacity: .6;
    }
}

@keyframes tpi-cc-nd-loading-button{
    from{
        background-position: 0px;
    }
    to{
        background-position: 17px;
    }
}

.tpi-cc--no-ds-data-info-wrapper {
    width: 75%;
    display: flex;
    flex-flow: column;
    gap: 20px;
    justify-content: space-around;
}

.tpi-cc--no-ds-data-title p {
    font-size: 1.5rem;
    font-weight: 800;
    width: 100%;
    text-align: center;
    position: relative;
}

.tpi-cc--no-ds-data-description {
    padding: 10px 0px;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

p.tpi-cc--no-ds-data-description-block {
    font-size: .9rem;
    /* text-align: center; */
}

p.tpi-cc--no-ds-data-description-block-sub {
    font-size: .75rem;
    /* text-align: center; */
    color: #a7a7a7;
}

.tpi-cc--no-ds-data-start{
    width: fit-content;
    padding: 10px 30px;
    background: var(--no-ds-color-1);
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000, 0px 0px 10px 0px #000;
    font-weight: 800;
    cursor: pointer;
    transition: 200ms cubic-bezier(.17,.73,0,1.32);
    &:hover,
    &:focus-visible{
        outline: 0;
        filter: brightness(.95);
    }
            
    &:active{
        filter: brightness(.85);
        transform: scale(.97);
    }
}

.tpi-cc--no-ds-data-block{
    display: flex;
    flex-flow: row;
    gap: 20px;

    &:nth-child(2){
        width: 100%;
        justify-content: space-between;
    }
}

/* D- LOADING STATUSES */
/* D- LOADING STATUSES */
/* D- LOADING STATUSES */
/* D- LOADING STATUSES */

.tpi-cc-no-ds-data-loading-item {
    display: flex;
    gap: 1ch;
    align-items: center;
    --cc-status-color: #e8e8e8;

    i.tpi-cc-no-ds-data-loading-item-icon{
        width: 18px;
        height: 18px;
        position: relative;
        display: flex;
        border: 2px solid;
        border-radius: 4px;
        color: var(--cc-status-color);
        background: var(--cc-status-color);
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    &[tpi-cc-status="complete"]{
        --cc-status-color: #fff;
    }
    &[tpi-cc-status="in-progress"] {
        --cc-status-color: #bdbdbd;
    }
    &[tpi-cc-status="waiting"]{
        --cc-status-color: #717171;
    }
    
    p{
        color: var(--cc-status-color);
    }

    &[tpi-cc-status="in-progress"] p{
        -webkit-text-fill-color: transparent;
        background: radial-gradient(circle, #ffffff 0%, var(--cc-status-color) 30%) -110% / 150% text;
        animation: tpi-cc-nd-status-in-progress-text 1s linear 0s infinite normal none running;
    }

    &[tpi-cc-status="in-progress"] p::after{
        content: "";
        -webkit-text-fill-color: var(--cc-status-color);
        color: var(--cc-status-color);
        display: inline-flex;
        position: relative;
        animation: tpi-cc-nd-status-in-progress 1s steps(4) infinite;
    }
    
    i.tpi-cc-no-ds-data-loading-item-icon::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: #212121;
        clip-path: circle(100% at 50% 50%);
        transition: 300ms ease-in-out;
        top: 0;
        left: 0;
    }

    i.tpi-cc-no-ds-data-loading-item-icon::after{
        content: "";
        display: block;
        position: absolute;
        width: 10px;
        height: 4px;
        transform: rotate(-45deg) translate(1px, -1px);
        background: transparent;
        border-bottom: 3px solid #000;
        border-left: 3px solid #000;
        transition: 150ms linear;
        opacity: 0;
        filter: blur(4px);
        transition: 0ms linear 300ms;
    }

    &[tpi-cc-status="complete"] i.tpi-cc-no-ds-data-loading-item-icon::after {
        opacity: 1;
        filter: blur(0px);
        animation: tpi-settings-mark-on 300ms linear 300ms;
    }
    &[tpi-cc-status="complete"] i.tpi-cc-no-ds-data-loading-item-icon::before {
        clip-path: circle(0% at 50% 50%);
    }
}

@keyframes tpi-cc-nd-status-in-progress-text {
    from{
        background-position-x: -110%;
    }
    to{
        background-position-x: -400%;
    }
}

@keyframes tpi-cc-nd-status-complete {
    0%{
        clip-path: polygon(0 0, 100% 0, 0% 0%, 0 0%);
    }
    50%{
        clip-path: polygon(0 0, 40% 0%, 20% 100%, 0 100%);
    }
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes tpi-cc-nd-status-in-progress {
    0%{
        content: '';
    }
    33%{
        content: '.';
    }
    66%{
        content: '..';
    }
    99%,100%{
        content: '...';        
    }
}

.tpi-cc--table-body-print-container{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

button.tpi-cc--print-current-row {
    display: flex;
    flex-flow: row;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    background: #fc0;

    i.tpi-cc--table-tbody-data-icon{
        width: 1rem;
        height: 1rem;
    }

    &:hover,
    &:focus-visible{
        outline: 0;
        filter: brightness(.95);
    }
            
    &:active{
        filter: brightness(.85);
        transform: scale(.97);
    }
}

p.tpi-cc--table-tbody-data-courier-print-text {
    min-width: 50px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
}