div.tpi-cc--wrapper{
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 9;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    font-family: Arial, sans-serif;
    gap: 20px;
    padding: 30px;
    background: #ffffff;
    flex-flow: column;
}

div.tpi-cc--wrapper-title{
    font-size: 44px;
    font-weight: 700;
    line-height: 46px;
    color: rgb(43, 43, 43);
    justify-content: space-between;
    display: flex;
}

.tpi-cc--table-wrapper{
    width: 100%;
    display: flex;
    overflow-x: auto;
    flex-flow: column;
    border-width: 1px;
    border-style: solid;
    border-color: #e8e8e8;
    border-image: initial;
    border-radius: 20px 20px 0px 0px;
}

.tpi-cc--table-data-output *,
.tpi-cc--table-data-output p{
    white-space: nowrap;
    margin: 0;
}

tr.tpi-cc--table-thead{
    background: #f7f7f7;
}

th.tpi-cc--table-thead-item{
    padding: 16px;
    cursor: pointer;
    transition: 100ms ease-in-out;
    border-bottom: 1px solid #e8e8e8;
    height: 10px;
    box-shadow: -2px -1px 0px -1px #e8e8e8 inset;

    &:hover{
        background: #e8e8e8;
    }
    
    &:first-child{
        background: #f7f7f7;
        position: sticky;
        left: 0;
    }

    &:last-child{
        box-shadow: 0;
    }
}


th.tpi-cc--table-thead-item .tpi-cc--table-thead-data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.tpi-cc--table-data-output tr.tpi-cc--table-tbody{
    background: #fff;
}

.tpi-cc--table-data-output tr.tpi-cc--table-tbody td.tpi-cc--table-tbody-item{
    padding: 16px;
    min-height: 65px;
    transition: 100ms ease-in-out;
    border-bottom: 1px solid #e8e8e8;
    height: 10px;
    box-shadow: -2px -1px 0px -1px #e8e8e8 inset;
    
    &:first-child{
        background: #fff;
        position: sticky;
        left: 0;
    }
    &:last-child{
        box-shadow: 0;
    }
}

div.tpi-cc--table-tbody-date-wrapper{
    display: flex;
    gap: .5ch;
    height: fit-content !important;
}

td.tpi-cc--table-tbody-item div.tpi-cc--table-tbody-data-courier{
    display: flex;
    gap: 6px;
}

td.tpi-cc--table-tbody-item div.tpi-cc--table-tbody-data{
    height: 100%;
    display: flex;
    align-items: center;
}

td.tpi-cc--table-tbody-item div.tpi-cc--table-tbody-data-courier{
    display: flex;
    gap: 6px;
    height: 100%;
    min-height: 45px;
}

div.tpi-cc--courier-id-data-wrapper{
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 10px;
}

div.tpi-cc--table-tbody-data-courier div.tpi-cc--courier-data-wrapper{
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    justify-content: center;
}

button.tpi-cc--table-tbody-data-button,
a.tpi-cc--table-tbody-data-link{
    width: fit-content;
    position: relative;
    transition: color 90ms ease-in-out;
    z-index: 1;
    display: flex;
    gap: .5ch;
    &:hover{
        color: #fff;
    }
    &::before {
        content: '';
        display: flex;
        position: absolute;
        left: -2px;
        top: 0;
        width: 100%;
        height: 100%;
        background: currentColor;
        z-index: -1;
        border-radius: 8px;
        box-shadow: 0px 0px 0px 4px;
        color: #5d5dff;
        padding: 0px 2px;
        transition: 50ms ease-in-out;
        transform: scale(0);
    }
    &:focus-visible{
        color: #fff;
        outline: none;
    }

    &:hover::before,
    &:focus-visible::before{
        transform: scale(1);
        transition: 200ms cubic-bezier(.17,.73,0,1.32);
    }
    i{
        width: 16px;
        height: 16px;
    }
    i svg{
        width: 100%;
        height: 100%;
        fill: currentColor;
    }
}

div.tpi-cc--table-tbody-data-courier-extra-info-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

div.tpi-cc--table-tbody-data-courier-extra-info{
    display: flex;
    gap: .5ch;
    flex-flow: row;
    p{
        font-size: 12px;
    }
    i{
        width: 12px;
        height: 12px;
    }
    i svg{
        width: 100%;
        height: 100%;
        fill: currentColor;
    }
}

button.tpi-cc--table-tbody-data-button.tpi-cc-table-tbody-data-pallet-id,
button.tpi-cc--table-tbody-data-button.tpi-cc-table-tbody-data-cart-id{
    padding: 2px 6px;
    border: 1px solid;
    background: #ced8ff;
    border-radius: 10px;
    color: #1a3dc1;
    width: fit-content;
    max-width: 170px;
    position: relative;
    transition: color 90ms ease-in-out;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 0;
    &:hover{
        color: #fff;
    }
    &::before {
        content: '';
        display: flex;
        position: absolute;
        left: -2px;
        top: 0;
        width: 100%;
        height: 100%;
        background: currentColor;
        z-index: -1;
        border-radius: 8px;
        box-shadow: 0px 0px 0px 4px;
        color: #5d5dff;
        padding: 0px 2px;
        transition: 50ms ease-in-out;
        transform: scale(0);
    }
    &:focus-visible{
        color: #fff;
        outline: none;
    }

    &:hover::before,
    &:focus-visible::before{
        transform: scale(1);
        transition: 200ms cubic-bezier(.17,.73,0,1.32);
    }

    &:hover{
        color: #fff;
        cursor: pointer;
    }
    
    &[tpi-selected-to-be-deleted]{
        color: red;
        background: #ffdbdb;
    }
    &[tpi-selected-to-be-deleted]:focus-visible,
    &[tpi-selected-to-be-deleted]:hover{
        color: #fff;
    }
    &[tpi-selected-to-be-deleted]:before{
        color: red;
    }
    i.tpi-cc-table-tbody-data-cart-icon,
    i.tpi-cc-table-tbody-data-pallet-icon{
        width: 16px;
        height: 16px;
    }
    i.tpi-cc-table-tbody-data-cart-icon svg,
    i.tpi-cc-table-tbody-data-pallet-icon svg{
        width: 100%;
        height: 100%;
        display: flex;
    }
}

button.tpi-cc--table-tbody-data-button.tpi-cc-table-tbody-data-pallet-id{
    color: #864ddf;
    background: #f6d9fa;
    &::before {
        content: '';
        display: flex;
        position: absolute;
        left: -2px;
        top: 0;
        width: 100%;
        height: 100%;
        background: currentColor;
        z-index: -1;
        border-radius: 8px;
        box-shadow: 0px 0px 0px 4px;
        color: #9159eb;
        padding: 0px 2px;
        transition: 200ms cubic-bezier(.17,.73,0,1.32);
        transform: scale(0);
    }
    i.tpi-cc-table-tbody-data-pallet-icon{
        padding: 2px;
    }
}

/* button.tpi-cc--table-tbody-data-button.tpi-cc-table-tbody-data-cart-id:last-of-type,
button.tpi-cc--table-tbody-data-button.tpi-cc-table-tbody-data-pallet-id:last-of-type{
    margin-right: 6px;
} */

div.tpi-cc--carts-control-buttons-wrapper{
    display: flex;
    gap: 1ch;
    align-items: center;
}

button.tpi-cc--table-tbody-add-cart{
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #e8e8e8;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms cubic-bezier(.17,.73,0,1.32);
    color: #000;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    i{
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px;
    }
    svg{
        fill: currentColor;
        width: 100%;
        height: 100%;
        transition: scale 100ms ease-in-out;
    }
    &::before {
        content: '';
        display: flex;
        position: absolute;
        left: -2px;
        top: 0;
        width: 100%;
        height: 100%;
        background: currentColor;
        z-index: -1;
        border-radius: 8px;
        box-shadow: 0px 0px 0px 4px;
        color: #cf0;
        padding: 0px 2px;
        transition: 50ms ease-in-out;
        transform: scale(0);
    }
    
    &:focus-visible{
        outline: none;
    }

    &:hover::before,
    &:focus-visible::before{
        transform: scale(1);
        transition: 200ms cubic-bezier(.17,.73,0,1.32);
    }

    &:active svg{
        scale: .95;
    }
    &:active::before{
        box-shadow: 0px 0px 0px 2px;
        filter: brightness(.95);
    }
}

div.tpi-cc--table-body-date-container{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

div.tpi-cc--table-tbody-data-carts,
div.tpi-cc--table-tbody-data-pallets{
    display: flex; 
    flex-wrap: wrap;
    min-width: 240px;
    gap: 1ch;
}

.tpi-cc--table-tbody-data-pallets{
    min-width: 160px !important;
}

.tpi-cc--table-tbody-data-sort-progress-container{
    display: flex;
    justify-content: space-around;
}

.tpi-cc--table-tbody-data-sort-progress-circle-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tpi-cc--table-tbody-data-sort-progress-circle-value{
    position: absolute;
    font-size: .65rem;
    font-weight: 800;
    color: #000;
    user-select: none;
}

/* ! Print-delete */

.tpi-cc-process-manager-wrapper{
    position: sticky;
    bottom: 16px;
    z-index: 10;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    visibility: hidden;
    transition: 300ms ease-in-out;

    &[current-state="hidden"]{
        transform: translateY(20px);
        opacity: 0;
    }
    &[current-state="shown"]{
        transform: translateY(0);
        opacity: 1;
    }
    

    .tpi-cc-process-manager-block{
        background-color: #212121;
        border-radius: 18px;
        display: flex;
        gap: 20px;
        color: #fff;
        position: relative;
        visibility: visible;
        padding: 16px 20px;
    }
}


.tpi-cc-process-manager-block .tpi-cc-process-manager-title{
    display: flex;
    flex-flow: column;
    justify-content: center;

    p{
        margin: 0;
        font-weight: 100 !important;
        font-size: 1rem;
    }
}

.tpi-cc-process-manager-block .tpi-cc-process-manager-button{
    border: 0px;
    background: #fc0;
    border-radius: 8px;
    font-weight: 800;
    cursor: pointer;
    padding: 10px 16px;
    color: #212121;
    transition: background-color .15s ease-out,transform .15s ease-out;
    
    &:hover{
        filter: brightness(.95);
    }
            
    &:active{
        filter: brightness(.85);
        transform: scale(.97);
    }
}
.tpi-cc-process-manager-block .tpi-cc-process-manager-close{
    border: 0px;
    border-radius: 8px;
    font-weight: 800;
    cursor: pointer;
    padding: 10px;
    width: 40px;
    height: 40px;
    background: transparent;
    color: #fff;
    transition: background-color .15s ease-out,transform .15s ease-out;

    &:hover{
        background: #ffffff1a;
    }
    &:active{
        background-color: #fff3;
        transform: scale(.97);
    }

    svg{
        width: 20px;
        height: 20px;
        fill: currentColor;
    }
    path{
        fill: currentColor;
    }
}

/* TODO */
/* TODO */
/* TODO */
/* TODO */

.tpi-cc--no-ds-data-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    p{
        margin: 0;
    }
}

.tpi-cc--no-ds-data-container {
    --no-ds-color-1: #fc0;
    --no-ds-color-2: #ff8f00;
    width: 40%;
    background: #222222;
    color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #000;
    border: solid 3px transparent;
    border-radius: 20px;
    background: linear-gradient(#212121, #212121) border-box padding-box, radial-gradient(circle at left top, var(--no-ds-color-1), var(--no-ds-color-2)) border-box #222;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    display: flex;
    flex-flow: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.tpi-cc--no-ds-data-icon-wrapper {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    i {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    svg{
        width: 100%;
        height: 100%;
        filter: drop-shadow(0px 0px 8px #fc0) drop-shadow(0px 0px 8px #ff4800);
    }
}

.tpi-cc--no-ds-data-info-wrapper {
    width: 75%;
    display: flex;
    flex-flow: column;
    gap: 20px;
    justify-content: space-around;
}

.tpi-cc--no-ds-data-title p {
    font-size: 1.5rem;
    font-weight: 800;
    width: 100%;
    text-align: center;
    position: relative;
}

.tpi-cc--no-ds-data-description {
    padding: 10px 0px;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

p.tpi-cc--no-ds-data-description-block {
    font-size: .9rem;
    /* text-align: center; */
}

p.tpi-cc--no-ds-data-description-block-sub {
    font-size: .75rem;
    /* text-align: center; */
    color: #a7a7a7;
}

.tpi-cc--no-ds-data-start{
    width: fit-content;
    padding: 10px 30px;
    background: #ffb801;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px #ffb801, 0px 0px 10px 0px #000, 0px 0px 10px 0px #000;
    font-weight: 800;
    cursor: pointer;
    transition: 200ms cubic-bezier(.17,.73,0,1.32);
    &:hover{
        filter: brightness(.95);
    }
            
    &:active{
        filter: brightness(.85);
        transform: scale(.97);
    }
}

.tpi-cc--no-ds-data-block{
    display: flex;
    flex-flow: row;
    gap: 20px;
    
}