div.tpi-tooltip-by-sheva_r6{
    display: flex;
    pointer-events: none;
    z-index: 99999999999;
    position: fixed;
    width: 100dvw;
    height: 100dvh;
}

.tpi-tooltip-wrapper{
    display: flex;
    align-items: center;
    gap: .5ch;
    padding: 10px;
    background: #00000073;
    border-radius: 10px;
    color: #fff;
    width: fit-content;
    animation: tooltip-popup 150ms ease-in-out;
    box-shadow: 0px 0px 10px 0px #000;
    border: 2px solid #ffffff52;
    backdrop-filter: invert(1) hue-rotate(180deg) blur(2px);
    font-weight: 500;
    max-width: 240px;
    white-space: pre-wrap;
    pointer-events: none;
    position: fixed;
    will-change: transform, left, top, opacity;
    &[sheva_r6]{color: red;}

    &[tpi-tolltip-position-x='from-left']{
        -ms-transform-origin-x: left;
        -webkit-transform-origin-x: left;
    }

    &[tpi-tolltip-position-x='from-right']{
        -ms-transform-origin-x: right;
        -webkit-transform-origin-x: right;
    }

    &[tpi-tolltip-position-y='from-top']{
        -ms-transform-origin-y: top;
        -webkit-transform-origin-y: top;
    }

    &[tpi-tolltip-position-y='from-bottom']{
        -ms-transform-origin-y: bottom;
        -webkit-transform-origin-y: bottom;
    }

    p{
        margin: 0;
        color: currentColor;
        font-weight: 500;
    }

    icon.tpi-tooltip-default-icon{
        width: 20px;
        height: 20px;
        position: relative;
        min-width: 20px;
        min-height: 20px;
        display: flex;
    }

    icon.tpi-tooltip-default-icon svg{
        fill: currentColor;
        width: 100%;
        height: 100%;
    }

    span{
        position: absolute;
        font-size: 10px;
        bottom: 6px;
        right: 10px;
        color: #ffffff38;
        font-weight: normal;
    }
}

.tpi-tooltip-wrapper[tpi-tooltip-type="sortable-ticket"]{
    background: #fff;
    backdrop-filter: unset;
    max-width: 400px;
    color: #212121;
    box-shadow: 0px 0px 6px 0px #0000003f;
    border-radius: 20px;
    border: 1px solid #a5a5ff;
    padding: 20px;
    --tooltip-main-color: #5d5dff;
    --tooltip-data-size: .9rem;

    .tpi-tooltip-content{
        display: flex;
        flex-flow: column;
        gap: 12px;
    }
    
    .tpi-tooltip-block{
        display: flex;
        flex-flow: column;
        align-items: flex-start !important;
        justify-content: center;
        gap: 0 !important;
    }
    
    .tpi-tooltip-block-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1ch;
        flex-wrap: wrap;
    }
    
    .tpi-tooltip-block[data-block-key="description"] {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }
    
    .tpi-tooltip-block-header {
        display: flex;
        align-items: center;
        gap: .4ch;
    }
    
    icon.tpi-tooltip-block-icon {
        width: 1rem;
        height: 1rem;
        min-width: 1rem;
        color: var(--tooltip-main-color);
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    icon.tpi-tooltip-block-icon svg {
        width: 100%;
        height: 100%;
        color: currentColor;
    }
    
    icon.tpi-tooltip-block-icon:has(svg.tpi-tooltip-icon-size-14){
        width: 16px !important;
        height: 16px !important;
        min-width: 16px !important;
        min-height: 16px !important;
    }
    
    .tpi-tooltip-block-title {
        font-weight: 600;
        color: var(--tooltip-main-color);
        font-size: var(--tooltip-data-size);
    }
    
    .tpi-tooltip-block-data {
        font-size: var(--tooltip-data-size);
        color: #333;
        word-break: break-word;
    }
    
    /* Данные для description */
    .tpi-tooltip-block[data-block-key="description"] .tpi-tooltip-block-data {
        white-space: pre-wrap;
        line-height: 1.4;
    }
}

@keyframes tooltip-popup  {
    from{
        opacity: 0;
        transform: scale(0);
        filter: blur(10);
    }
    to{
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }
}