div.tpi-tooltip-by-sheva_r6{
    display: flex;
    pointer-events: none;
    z-index: 99999999999;
    position: fixed;
    width: 100dvw;
    height: 100dvh;
}

.tpi-tooltip-wrapper{
    display: flex;
    align-items: center;
    gap: .5ch;
    padding: 10px;
    padding-bottom: 20px;
    background: #00000073;
    border-radius: 10px;
    color: #fff;
    width: fit-content;
    /* animation: tooltip-popup 300ms ease-in-out; */
    box-shadow: 0px 0px 10px 0px #000;
    border: 2px solid #ffffff52;
    backdrop-filter: invert(1) hue-rotate(180deg) blur(2px);
    font-weight: 500;
    max-width: 240px;
    white-space: pre-wrap;

    p{
        margin: 0;
        color: currentColor;
        font-weight: 500;
    }

    i{
        width: 16px;
        height: 16px;
        position: relative;
        min-width: 16px;
        min-height: 16px;
        display: flex;
    }

    i svg{
        fill: currentColor;
    }

    span{
        position: absolute;
        font-size: 10px;
        bottom: 6px;
        right: 10px;
        color: #ffffff38;
        font-weight: normal;
    }
}
/* 
@keyframes tooltip-popup  {
    from{
        opacity: 0;
        transform: scale(0);
        filter: blur(10);
    }
    to{
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }
} */